<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>All Products</title>
    </head>
    <body>
        <h2>Products</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            {% for product in products%}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <form action="{% url 'show' product.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" name="submit" value="Show">
                        </form>

                        <form action="{% url 'edit' product.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" name="submit" value="Edit">
                        </form>

                        <form action="{% url 'remove' product.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" name="submit" value="Remove">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form action="{% url 'new' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="submit" value="Add A Product">
        </form>
    </body>
</html>
